.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.itemSvg {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.placeholder {
  font-size: 16px;
  color: #636E72;
  text-align: center;
}

@media (max-width: 768px) {
  .options {
    gap: 12px;
  }
}
